{%load static%}
<html>
  <head>
    <title>Comment Section</title>
    <link rel="stylesheet" type="text/css" href="{% static 'comments.css'%}">
  </head>
  <body>
    <div class="bg">
        <div class="Message">
            <input title="Write Message" tabindex="i" pattern="\d+" placeholder="Start sharing your feelings.." class="MsgInput" type="text">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="30.000000pt" height="30.000000pt" viewBox="0 0 30.000000 30.000000" preserveAspectRatio="xMidYMid meet" class="SendSVG">
            <g transform="translate(0.000000,30.000000) scale(0.100000,-0.100000)" fill="#ffffff70" stroke="none">
            <path d="M44 256 c-3 -8 -4 -29 -2 -48 3 -31 5 -33 56 -42 28 -5 52 -13 52 -16 0 -3 -24 -11 -52 -16 -52 -9 -53 -9 -56 -48 -2 -21 1 -43 6 -48 10 -10 232 97 232 112 0 7 -211 120 -224 120 -4 0 -9 -6 -12 -14z"></path>
            </g>
          </svg><span class="l"></span>
            
          </div>
            <div class="card">
            
                <div class="infos">
                  <p class="date-time">
                                  2 day ago
                  </p>
                  <p class="comment">
                                  I've been suffering from depression since years now and it feels like it's a part of me now!
                  </p>
              </div>
            
              <div class="author">
                — Kainaat
              </div>
             </div>
             <div class="card2">
            
                <div class="infos">
                  <p class="date-time">
                                  2 day ago
                  </p>
                  <p class="comment">
                                  I've been suffering from depression since years now and it feels like it's a part of me now!
                  </p>
              </div>
            
              <div class="author">
                — Kainaat
              </div>
             </div>
             <div class="card3">
            
                <div class="infos">
                  <p class="date-time">
                                  2 day ago
                  </p>
                  <p class="comment">
                                  I've been suffering from depression since years now and it feels like it's a part of me now!
                  </p>
              </div>
            
              <div class="author">
                — Kainaat
              </div>
             </div>
             <div class="card4">
            
                <div class="infos">
                  <p class="date-time">
                                  2 day ago
                  </p>
                  <p class="comment">
                                  I've been suffering from depression since years now and it feels like it's a part of me now!
                  </p>
              </div>
            
              <div class="author">
                — Kainaat
              </div>
             </div>
             <div class="card5">
            
                <div class="infos">
                  <p class="date-time">
                                  2 day ago
                  </p>
                  <p class="comment">
                                  I've been suffering from depression since years now and it feels like it's a part of me now!
                  </p>
              </div>
            
              <div class="author">
                — Kainaat
              </div>
             </div>
             <div class="card6">
            
                <div class="infos">
                  <p class="date-time">
                                  2 day ago
                  </p>
                  <p class="comment">
                                  I've been suffering from depression since years now and it feels like it's a part of me now!
                  </p>
              </div>
            
              <div class="author">
                — Kainaat
              </div>
             </div>
            </div>
            </body>
            </html>
             