{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
    <link rel="stylesheet" href="{% static 'style5.css' %}">

</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="{% static 'logo.png' %}" class="logo">

            <img src="" class="logo">
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Articles</a></li>
                        <li><a href="">Connect with Therapist</a></li>
                        <button class="button1"> SOS</button>
                        
                        

                    </ul>
                </nav>
            <img src="" class="">
        </div>
    
</div>
<div class="input-wrapper">
    <button class="icon">
       
    </button>
    <input placeholder="Start sharing your feelings..." class="input" name="text" type="text">
  </div>  
    <div class="1">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <button class="col">
              <div class="card-h-100">
                <img src="{% static '' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Anxiety</h5>
                </div>
              </div>
            </button>
        </div>
    </div>  
    <div class="2">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <button class="Depbtn">
              <div class="card-h-100">
                <img src="{% static 'Depressed.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Depressed</h5>
                </div>
              </div>
            </button>
        </div>
    </div>  
    <div class="3">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <button class="Angissue">
              <div class="card-h-100">
                <img src="{% static '' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Anger issues</h5>
                </div>
              </div>
            </button>
        </div>
    </div>  
    <div class="4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <button class="Mdswing">
              <div class="card-h-100">
                <img src="{% static '' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mood Swings</h5>
                </div>
              </div>
            </button>
        </div>
    </div>  
    <div class="5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <button class="Rel">
              <div class="card-h-100">
                <img src="{% static '' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Relationship Issues</h5>
                </div>
              </div>
            </button>
        </div>
    </div>  
    <div class="6">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <button class="hel">
              <div class="card-h-100">
                <img src="{% static '' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Health issues</h5>
                </div>
              </div>
            </button>
        </div>
    </div>  
    <div class="Label">
        <h2>Articles you might want to explore....</h2>
        <div class="links">
            <li><a href="">Article1</a></li>
            <li><a href="">Article2</a></li>
            <li><a href="">Article3</a></li>
            <li><a href="">Article4</a></li>

        </div>
    </div>

</body>
</html>
