{%load static%}
<html>
  <head>
    <title>Games</title>
    <link rel="stylesheet" type="text/css" href="{% static 'games.css'%}">
  </head>
  <body>
    <div class="bg">
        <div class="1">
            <div class="ss">
                <img src="{% static 'game1.png' %}" style="width:100%;height:80%">
            </div>
            <div class="button">
                <div class="buttons" onclick="game1()">
                    <button class="btn"><span></span><p data-start="good luck!" data-text="start!" data-title="new game"></p></button>
                 </div>
            </div>
        </div>
        <div class="2">
            <div class="ss">
                <img src="{% static 'game21.png' %}" style="width:100%;height:60%">
            </div>
            <div class="button2">
                <div class="buttons" onclick="game2()">
                    <button class="btn"><span></span><p data-start="good luck!" data-text="start!" data-title="new game"></p></button>
                 </div>
            </div>
        </div>
        <div class="g3">
            <div class="ss">
                <img src="{% static 'game3.png' %}" style="width:105%;height:60%">
            </div>
            <div class="button3">
                <div class="buttons" onclick="game3()">
                    <button class="btn"><span></span><p data-start="good luck!" data-text="start!" data-title="new game"></p></button>
                 </div>
            </div>
        </div>
        <div class="g4">
            <div class="ss">
                <img src="{% static 'game4.png' %}" style="width:105%;height:60%">
            </div>
            <div class="button3">
                <div class="buttons" onclick="game4()">
                    <button class="btn"><span></span><p data-start="good luck!" data-text="start!" data-title="new game"></p></button>
                 </div>
            </div>
        </div>
    </div>
    <script>
        function game1(){
          window.location.href="https://www.msn.com/en-in/play/amazing-bubble-breaker/cg-9pn0gjgd7wrw?cgfrom=cg_dsb_seeMore&ocid=winpsearchboxexpcta2&pc=DSBPC&cvid=42b84fa9c195481fb4f4a5f6b17f35a2&nclid=6FF21382ACCCF7B7ACB4077DDAF67E0D&ts=1680704568822&nclidts=1680704568&tsms=822&ei=9";
        }
        function game2(){
            window.location.href="https://www.msn.com/en-in/play/amazing-bubble-connect/cg-9ntnlxf4shxk?cgfrom=cg_dsb_seeMore&ocid=winpsearchboxexpcta2&pc=DSBPC&cvid=42b84fa9c195481fb4f4a5f6b17f35a2&nclid=6FF21382ACCCF7B7ACB4077DDAF67E0D&ts=1680704568822&nclidts=1680704568&tsms=822&ei=19";
        }
        function game3(){
            window.location.href="https://www.msn.com/en-in/play/candy-world-%3A-match3-mania/cg-9ns0t4792762?cgfrom=cg_dsb_seeMore&ocid=winpsearchboxexpcta2&pc=DSBPC&cvid=42b84fa9c195481fb4f4a5f6b17f35a2&nclid=6FF21382ACCCF7B7ACB4077DDAF67E0D&ts=1680704568822&nclidts=1680704568&tsms=822&ei=26";
        }
        function game4(){
            window.location.href="https://www.msn.com/en-in/play/darts-pro/cg-9n3n198l6zpj?cgfrom=cg_dsb_seeMore&ocid=winpsearchboxexpcta2&pc=DSBPC&cvid=42b84fa9c195481fb4f4a5f6b17f35a2&nclid=6FF21382ACCCF7B7ACB4077DDAF67E0D&ts=1680704568822&nclidts=1680704568&tsms=822&ei=31";
        }
      </script>
            </body>
            </html>