<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellcare</title>
    <link rel="stylesheet" href="style.css">

</head>
<div class="row">
    <!--Portfolio item starts-->
    <div class="portfolio-item padd-15">
        <div class="portfolio-item-inner shadow-dark">
            <div class="portfolio-img">
            </div>
        </div>
    </div>
<body>
    <div class="container">
            <div class="navbar">
                <img src="/home/kainaat/Downloads/wellcare-high-resolution-logo-color-on-transparent-background.png" class="logo">

                <img src="" class="logo">
                    <nav>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Articles</a></li>
                            <li><a href="">Connect with Therapist</a></li>
                            <li><a href="">SOS</a></li>
                            <button class="cta">
                                <span>Sign in</span>
                                <svg viewBox="0 0 13 10" height="8px" width="8px">
                                  <path d="M1,5 L11,5"></path>
                                  <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                              </button>
                            

                        </ul>
                    </nav>
                <img src="" class="">
            </div>
        
    </div>
    <div class="content">
        
        <div class ="logo1">
    
        <img src="/home/kainaat/Downloads/Roadmap Vector_Roadmap Vector-01.jpg" class="logo1">

        </div>
        <div class="note">
            <h1>A Road Map</h1>
            <h1>To A Healthy<br></h1>
            <h1>Lifestyle</h1>
            <p>Self-treatments for mindfulness<br>mental health and well being</p>
        </div>
          
           
           

    </div>
    <div class="LPG">
        <div class="Learn">
            <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                <lord-icon
                src="https://cdn.lordicon.com/wxnxiano.json"
                trigger="morph"
                style="width: 70px;height:70px">
                </lord-icon>

            <h4>Learn</h4>
        </div>
        <div class="Practice">
            <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
            <lord-icon
                src="https://cdn.lordicon.com/nxaaasqe.json"
                trigger="hover"
                style="width:70px;height:70px">
            </lord-icon>
            <h4>Practice</h4>
        </div>
        <div class="Grow">
            <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
            <lord-icon
                src="https://cdn.lordicon.com/gqdnbnwt.json"
                trigger="hover"
                style="width:70px;height:70px">
            </lord-icon>
            <h4>Grow</h4>
        </div>
       
    </div>
    <div  class="cardcontainer">
            
                <div class="card" style="height: 290px; width: 400px;right: 200px ;;background-color: #b8e5fa">
                    <img src="/home/kainaat/Downloads/image_6487327.JPG" alt="Avatar" style="width:100%">
                    
      
                </div>
                <div class="card" style="height: 360px; width: 450px;right: 200px ; ">
                    <img src="/home/kainaat/Downloads/pexels-suludan-diliyaer-596750.jpg" alt="Avatar" style="width:100%">
                    <div class="game">
                        <p>Play Games To Relax Yourself</p>
                    </div>
                </div>
                <div class="card" style="height: 360px; width: 450px;right: 200px ; ">
                    <img src="/home/kainaat/Downloads/pexels-lukas-590041.jpg" alt="Avatar" style="width:100%">
                    <div class="moodtrack">Track Your Mood On Daily Basis and Analyze Your Mood Patterns</div>
                </div>
    </div>
    <div class="container1">
        <div class="animation1">
            <img src="/home/kainaat/Downloads/Community-PNG-Picture.png" style="width: 100%;">
        </div >
        <div class="writeup1">
            <h2>Community-You're not alone</h2>
            <p>Join a Community Changing Mental Health for Good.Share your stories anonymously.</p><p> Read about other's experiences.</p><p> Give support.Get support</p>
        </div>
    </div>
    <div class="container2">
        <div class="animation2">
            <img src="/home/kainaat/Downloads/5184243-removebg.png" style="width: 80%;">
        </div >
        <div class="writeup2">
            <h2>Guided Activities</h2>
            <p>Wellcare suggests a treatment plan based on your symptoms and guided you through self-help,<br> CBT and coping activities</p>
        </div>
    </div>
    <div class="container3">
        <div class="animation3">
            <img src="/home/kainaat/Downloads/sos.png" style="width: 70%;">
        </div >
        <div class="writeup3">
            <h2>SOS - Panic Attack Mode</h2>
            <p>Here to hold your hand when a panic attack strikes.<br> Tap through your symptoms and practice self soothing activities</p>
        </div>
    </div>
    <div class="container4">
        <div class="animation4">
            <img src="/home/kainaat/Downloads/pngwing.com.png" style="width: 75%;">
        </div >
        <div class="writeup4">
            <h2>Articles</h2>
            <p>Learn more here on how you can help yourself or your loved ones who are struggling with mental health. Staying silenced can stop us from supporting our loved ones struggling with mental health. Our Better World. Let's Raise Awareness. Childhood Trauma. Read More.</p>
        </div>
    </div>
    <div class="blankspace">
        <div class="end">
            <h4>THE END</h4>
        </div>
    </div>
</body>
</html>