*{
    margin: 0;
    padding: 0;
}
.row{
    background-color: #b8e5fa;
}

.container{
    height: 100px;
    width: 1340px;
    border: none;
    background-color: #c8f3fa;
   
    align-items: center;
    

}
.navbar{
    width: 110%;
    height: 15vh;
    margin:auto;
    display: flex;
    align-items: center;
    font-size: large;
    
}
.logo{
    width: 200px;
    cursor: pointer;
    padding-left: 15px;
}

nav{
    flex:1.5;
    padding-left: 330px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 16px;

}
.logo1{
    
    height: 500px;
    width: 600px;
    margin-left: 400px;
    position: relative;
    right:7%;
    bottom: 20%;

}
.note{
    position: relative;
    right: 65%;
   
}
nav ul li a{
    text-decoration: none;
    color: #023047;
}
.content h1{
    
    text-align: left;
    font-size: 60px;
    position: relative;
   
    margin-bottom: 20px;
    
    color:#023047;
   

}


.content h2{
    text-align: center;
}

.content{
    display: flex;
    margin: left 10%;
    margin-top: 10%;
   
}

.feature-img{
    height:50%;
    position: absolute;
    bottom: 0;
    right: 160px;
}
.LPG{
    display: flex;
    margin-inline-start: 40%;
    align-items: center;
    
    
}
.Learn{
    padding-left: 10%;
    position: relative;
    right: 30%;
    padding-top: 15px;
    
}
.Practice{
    position: relative;
    right: 75px;
    padding-top: 10px;
}
.Grow{
    position: relative;
    left: 100px;
    padding-top: 10px;
}
.card {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(6, 47, 85, 0.2);
    transition: 0.3s;
    margin-right: 7%;
    border: none;
  }
  .diary{
    position: relative;
    right: 200px;
    bottom: 10px;
    font-size: larger;
    
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        margin: 4px 2px;
      
  }
  .game{
    display: flex;
    display: inline-flex;
    position: relative;
    right: 250px;
    top: 140px;

    
  }
  .moodtrack{
    display: inline-block;
    position: relative;
    right:300px;
    font-size: large;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  }
  
  
  .container {
    padding: 8px 8px 8px;
    
    
  }
 .cardcontainer{
    display: inline-flex;
    padding-left: 55px;
    padding-top: 100px;
    
 }
 .animation1{
    position: absolute;
    left: 885px;
    top: 1440px;
 }
 .writeup1{
    text-align: center;
    font-size: large;
    line-height: 30px;
    margin-top: 50px;
    background-color: #ffffff;
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 600px;
    padding-bottom: 140px;
 }
 .container1{
    padding-top: 100px;
 }
 .animation2{
    position: absolute;
    right: 800px;
    top: 1720px;
 }
 .writeup2{
    text-align: center;
    font-size: large;
    line-height: 35px;
    margin-top: 50px;
    background-color: #ffffff;
    padding-top: 50px;
    margin-left: 600px;
    margin-right: 20px;
    padding-bottom: 150px;
 }
 .container2{
    padding-top: 20px;
 }
 .animation3{
    position: absolute;
    left: 900px;
    top: 2185px;
 }
 .writeup3{
    text-align: center;
    font-size: large;
    line-height: 35px;
    margin-top: 50px;
    background-color: #ffffff;
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 600px;
    padding-bottom: 140px;
 }
 .container3{
    padding-top: 20px;
 }
 .animation4{
    position: absolute;
    right: 900px;
    left: 80px;
    top: 2550px;
 }
 .writeup4{
    text-align: center;
    font-size: large;
    line-height: 35px;
    margin-top: 50px;
    background-color: #ffffff;
    padding-top: 50px;
    margin-left: 600px;
    margin-right: 20px;
    padding-bottom: 140px;
 }
 .container4{
    padding-top: 20px;
 }
 .blankspace{
    padding-top: 100px;
 }
 .end{
    background-color: #a0d9f3 ;
    padding-bottom: 500px;
    text-align: center;
    position: relative;
    top: 25px;
 }
 .cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }